
footer {
    background: linear-gradient(45deg, #27374D, #0f1316,rgb(10, 14, 17));
    color: white;
    padding: 2rem;
    text-align: center;
  }
  
  footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  