*{
    margin: 0;
}

.contain{
    margin: 3rem 5rem;
}

body{
    font-family: 'Nunito', sans-serif;
}

h2{
    font-size : 2.3rem;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 2rem;
    text-align: center;
}